

<div>
        <!-- <button class="btn btn-success" (click)="goToCreate()">Create character</button> -->
    <app-create-character (createCharacter)="createCharacter($event)"></app-create-character>
   
   
   <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Username</td>
                <td>Email</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let character of charactersArray"
                [class.selected]="character === selectedCharacter"
                (click)="onSelect(character)">
                    <td>{{ character.id }}</td>
                    <td>{{ character.name }}</td>
                    <td>{{ character.username }}</td>
                    <td>{{ character.email }}</td>
                    <td>
                        
          <!--<a [routerLink]="['/update', character.id]" class="btn btn-primary">Update</a>-->
                        <button (click)="goToUpdate(character.id)">Details</button>
                    </td>
                    <td>
                        <button (click)="deleteCharacter(character)">Delete</button>
                    </td>
            </tr>
        </tbody>
    </table>
</div>


<div *ngIf="selectedCharacter">
    <h2>{{selectedCharacter.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedCharacter.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedCharacter.name" placeholder="name"/>
        <input [(ngModel)]="selectedCharacter.username" placeholder="username"/>
        <input [(ngModel)]="selectedCharacter.email" placeholder="email"/>
      </label>
      <button class="btn btn-info" (click)="onSave()">Save</button>
    </div>
  </div>