 <form class="form" (ngSubmit)="onSubmit()">
    <input type="text" name="name" id="" [(ngModel)]="name" placeholder="Name...">
    <input type="text" name="username" id="" [(ngModel)]="username" placeholder="Username...">
    <input type="text" name="email" id="" [(ngModel)]="email" placeholder="Email...">
    <button type="submit">Create</button>
</form>


<!--
<div class="col-md-6 user-container">
        <h2 class="text-center">Create character</h2>
        <form class="form " (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Full name:</label>
            <input type="text"  placeholder="Vass Vilmos" name="name" class="form-control" id="name">
          </div>
      
          <div class="form-group">
            <label for="username">Password:</label>
            <input type="text"  placeholder="Willpower999" name="username" class="form-control" id="username">
          </div>
      
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" placeholder="test@gmail.com" name="email" class="form-control" id="email">
          </div>
      
          <button (click)="onSubmit()" class="btn btn-success">Create</button>
        </form>
      </div>-->