<div id="listView">
  <button class="btn btn-success" id="createCharacterButton" type="button" (click)="createCharacter(character)">Add new character</button>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Species</th>
            <th scope="col">Last known location</th>
            <th scope="col" class="text-center">Operations</th>
        </tr>
      </thead>
      <tbody *ngFor="let character of characters" [class.selected]="character.id === selectedId">
        <tr>
            <th scope="row">{{ character.id }}</th>
            <td>{{ character.name }}</td>
            <td>{{ character.species }}</td>
            <td>{{ character.location.name }}</td>
            <td class="text-center operationButtons">
                <button class="button" class="btn btn-primary" type="button" (click)="goToUpdate(character.id)">Details</button>
                <button class="button" class="btn btn-danger" type="button" (click)="deleteCharacter(character)">Delete</button>
            </td>
        </tr>
      </tbody>
    </table>
</div>
