<div class="detailsView" *ngIf="character">
  <mat-card class="character-card">
    <mat-card-header>
      <div mat-card-avatar id="characterIdOutput"><p>#{{ character.id }}</p></div>
      <mat-card-title>{{ character.name }}</mat-card-title>
      <mat-card-subtitle>{{ character.species }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{character.image}}" alt="Character Portrait">
    <mat-card-content>
      <form novalidate ngForm="#f">
        <div class="form-group">
          <label for="nameFormControlInput">Name:</label>
          <input [(ngModel)]="character.name" name="name" type="text" class="form-control" [value]="character.name" required #name="ngModel"/>
          <span style="color: crimson" *ngIf="name.invalid">Character's name is required.</span>
        </div>
        <div class="form-group">
          <label for="speciesFormControlInput">Species:</label>
          <input [(ngModel)]="character.species" name="species" type="text" class="form-control"
                [value]="character.species" required #species="ngModel"/>
          <span style="color: crimson" *ngIf="species.invalid">Character's species is required.</span>
        </div>
        <div class="form-group">
          <label>Status: </label>
          <select class="form-control" id ="status"
                  required
                  [(ngModel)]="character.status"
                  #status="ngModel"
                  name="status">
            <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
          </select> 
        </div>
        <div class="form-group">
          <label for="genderFormControlInput">Gender:</label>
          <input [(ngModel)]="character.gender" name="gender" type="text" class="form-control" [value]="character.gender" required #gender="ngModel"/>
          <span style="color: crimson" *ngIf="gender.invalid">Character's gender is required.</span>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">Update</button>
      <button mat-raised-button color="basic" (click)="goBack()">Back</button>
    </mat-card-actions>
  </mat-card>
</div>
